   
    
body {
    margin: 0;
    font-family: Arial;
    background: #000000;
    min-height: 100vh;
}
.container {
  width: 400px;
  margin: 50px auto;
  background: #762020;
  padding: 20px;
  border-radius: 12px;
  color: white;

}
h1{
    color: #000000;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}